@media (max-height: 600px) {
  footer {
    display: none;
  }
  #logo-image {
    display: none;
  }

}

.nav-pills .nav-link:hover {
  background-color: #7b8aa1; /* Bootstrap primary */
  color: white;
}
